PROJECT_NAME="text-to-video-generator"
APP_VERSION="0.1.0"
API_HOST="0.0.0.0"
API_PORT=8000
OUTPUT_DIR="outputs"
DEFAULT_BACKEND="mock"
MODEL_BACKEND="mock"
ENABLE_AUDIO=True
ENABLE_DIFFUSERS=False
DIFFUSERS_MODEL_ID=""
